.button {
  background-color: var(--primary-color);
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  transition: 200ms;
  margin: 10px;
}

.button:hover {
  background-color: #108bef;
}

.button-disabled {
  background-color: gray;
}

.button-loading {
  min-height: 41px;
  min-width: 65px;
  padding: 0;
  background-color: rgba(128, 128, 128, 0.5);
}

.button-loading:hover {
  background-color: rgba(128, 128, 128, 0.5) !important;
}
.button-disabled:hover {
  background-color: gray !important;
}

.button:active {
  transform: translateY(2px);
}

.button-loading:active,
.button-disabled:active {
  transform: translateY(0);
}
