.chat-box {
  display: flex;
  flex-direction: column;
  transition: 200ms;
}
.chat-box_body {
  flex: 1;
  overflow-y: scroll;
  padding-right: 4px !important;
}

.chat-box_body .message-left,
.chat-box_body .message-right {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.chat-box_body .message-right {
  justify-content: flex-end;
}

.chat-box_body .message-left p,
.chat-box_body .message-right p {
  background-color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 12px;
  font-weight: 400;
  max-width: 80%;
  padding-bottom: 2px;
}

.chat-box_body .message-right p {
  background-color: var(--primary-color);
  color: #fff;
}

.chat-box_body .chat-message-time {
  width: 100%;
  display: block;
  font-size: 0.8rem;
  color: #575757;
  text-align: end;
  margin-top: 5px;
}

.message-right .chat-message-time {
  color: #d8d8d8;
}

.chat-box .expanded-header {
  flex: 9;
  justify-content: space-between;
  transition: 200ms;
}

.chat-box .expanded-header .MuiAvatar-root {
  height: 280px !important;
  width: 250px !important;
  transition: 200ms;
}

.chat-box .expanded-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: var(--font-large);
  transition: 200ms;
  cursor: text !important;
}
