.App {
  margin: 10px;
  border-radius: 25px;
  width: 1120px;
  height: 570px !important;
  text-align: start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.App-body {
  flex: 1;
  overflow: hidden;
}
.semi-transparent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  height: 100%;
}
.semi-transparent-less {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3px);
  height: 100%;
}

.overlay {
  box-shadow: -4px 3px 20px rgba(0, 0, 0, 0.35);
}

@media (min-width: 400px) {
  .custom-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .custom-scroll::-webkit-scrollbar-track {
    box-shadow: none !important;
    background-color: transparent;
    transform: translateX(8px);
  }
  .custom-scroll::-webkit-scrollbar {
    width: 7px !important;
    background-color: transparent;
    transform: translateX(8px);
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }
}
